<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Management System</title>
</head>
<body>
<div align="center">
    <h1>Course List</h1>
    <a th:href="@{/academicyear/showNewacAdemicYearForm}">Add Course</a>
    <table border="1">
        <thead>
        <tr>
            <th>Academic Year id</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="year : ${listYears}">
            <td th:text="${year.id}"></td>
            <td th:text="${year.startdate}"></td>
            <td th:text="${year.enddate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>